body {
    background-image: url("bin/back.png");
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin: 0;
    min-height: 100vh;
    display: flex; /* Меняем grid на flex для лучшего контроля */
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 20px; /* Добавляем отступы по краям */
    box-sizing: border-box; /* Чтобы padding не ломал размеры */
}

.inv {
    width: 28%;
    max-width: 400px;
    min-width: 280px;
    height: auto;
    transition: all 0.3s ease;
    display: block; /* Важно! */
    margin: 0 auto; /* Центрируем по горизонтали */
}

/* Если используешь ссылку вокруг картинки */
a .inv {
    display: block;
}

/* Если ссылка сама обертка */
a[href] {
    display: inline-block;
    text-decoration: none;
}

/* Адаптивность */
@media screen and (max-width: 1024px) {
    .inv {
        width: 35%;
    }
}

@media screen and (max-width: 768px) {
    .inv {
        width: 50%;
    }
}

@media screen and (max-width: 480px) {
    .inv {
        width: 70%;
        min-width: 250px;
    }
}

@media screen and (max-width: 320px) {
    .inv {
        width: 85%;
        min-width: 220px;
    }
}

@media screen and (min-width: 1920px) {
    .inv {
        width: 22%;
        max-width: 500px;
    }
}

@media screen and (max-height: 600px) {
    .inv {
        width: 45%;
    }
}

.log {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 120px;
    height: auto;
    z-index: 10;
}

/* Дебаг - если проблема осталась, добавь это временно */
/*
* {
    outline: 1px solid red !important;
}
*/