body {
    background-image: url("bin/menu.png");
    background-size: cover;    
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    padding-top: 200px;
    box-sizing: border-box;
}


.log {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 120px; 
  height: auto;
  z-index: 10;
}

.foto, .shorts, .ist {
  position: absolute;
  left: 20px;
  width: 220px; 
  height: auto;
  z-index: 10;
}

.foto {
  top: 60px;
}

.shorts {
  top: 102px;
}

.ist {
  top: 144px; 
}

.container {
  display: flex;                
  justify-content: center;      
  align-items: center;          
  height: 100vh;                
  margin: 0;       
  position: relative;
  top: -161px;       
}      
.vidos {
  width: 91%;
  height: 51%; 
  margin: 0 10px; 
  border-radius: 8px;
  transition: all 0.3s ease;
}